@use "../../styles/variables.scss" as v;

.project {
  display: flex;
  flex-direction: column;
  gap: v.$gap;
  min-height: 100vh;
}

.image {
  width: 100%;
  height: auto;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: v.$gap;
  padding: 0 v.$gap;

  @media only screen and (min-width: v.$desktop) {
    padding: 0;
    display: grid;
    grid-template:
      "title title"
      "job job"
      "summary summary"
      "responsibilities features"
      "responsibilities skills";
  }
}

.title {
  font-weight: 500;
  grid-area: title;
}

.subheader {
  font-weight: 500;
  margin-bottom: v.$gap-fourth;
}

.job {
  grid-area: job;
}

.summary {
  grid-area: summary;
  line-height: v.$lh;
}

.responsibilities {
  grid-area: responsibilities;

  ul {
    line-height: v.$lh;
    display: flex;
    flex-direction: column;
    gap: v.$gap-fourth;
    list-style-type: disc;
    margin-left: 24px;
  }
}

.features {
  grid-area: features;

  ul {
    line-height: v.$lh;
    display: flex;
    flex-direction: column;
    gap: v.$gap-fourth;
    list-style-type: disc;
    margin-left: 24px;
  }
}

.skills {
  grid-area: skills;

  div {
    line-height: v.$lh;
  }
}
