@use "../../styles/variables.scss" as v;

.projects {
  width: 100%;
  padding: 0 0 v.$gap;

  @media only screen and (min-width: v.$mobile) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0;
    padding: 0;
    position: relative;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  gap: v.$gap;

  @media only screen and (min-width: v.$mobile) {
    padding: v.$gap;
    max-width: 50%;
  }
}
