---
import "../styles/global.scss";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<title>Hedy D.</title>
	</head>
	<body>
		<!-- <slot /> -->
		<div>Deployment Testing</div>
	</body>
</html>
